<h1>GCC Hub</h1>
<br><br>
<% @games.each do |game|%>
<h2><%= game.title %></h2>
<br>
<img src="<%= game.game_image %>" height ="250" width="250"><br>
<h3><%= game.blurb %></h3>
<h3><%= game.genre %></h3>
<br>
<h3><label>Gamer Name: <%= game.user.username %></label>
<br>
<%if game.user == current_user %>
    <a href = "/games/<%=game.id%>/edit">Level Up Your Game</a>
    <% end %>
<% end %>
<br><br>
