<h1><%= @games.title %></h1>
<br>
<img src="<%= @games.game_image %>"  height="150" width="150">
<br>
<h2><%= @games.blurb %></h2>
<h2><%= @games.genre %></h2>
<br>
<form method="get" action="/games/<%= @games.id %>/edit">
<input type="submit" value="Level Up Your Game">
</form>
<br>
<form method="post" action="/games/<%= @games.id %>/delete" >
 <input type="hidden" id="hidden" name="_method" value="DELETE">
 <input type="submit" value="Delete Game">
</form>
 <br>
 <br>

